/*
    Template: https://www.sketch.com/s/a8151c89-20b6-4b4e-bede-68499b93134a/a/WKzpDyw#Inspect
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 0;
}

.header {
    background-image: url("./assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 840px;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 70px 0 5rem;
    width: 100%;
}

nav div {
    display: flex;
}

nav div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 116px;
}

nav div ul li {
    opacity: 0.4;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    list-style-type: none;
    margin-right: 60px;
}

nav div ul li:first-child {
    opacity: 1;
    color: white;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav>ul li {
    font-weight: 700;
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}

nav>ul li:first-child {
    color: #262B36;
    margin-right: 20px;
}

nav>ul li:last-child {
    color: #3ACF6E;
}


.header h1 {
    margin-left: 5rem;
    margin-top: 109px;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 74px;
    width: 600px;
    height: 222px;
}

.header h1 span {
    color: #3ACF6E;
}

.header p {
    margin-top: 36px;
    margin-left: 5rem;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;
    width: 600px;
    height: 96px;
}

.header .buttons {
    margin-left: 5rem;
    margin-top: 65px;
}

.header .buttons button:first-child {
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 141px;
    height: 48px;
    border-radius: 5px;
    opacity: 1;
    background-color: rgba(58, 207, 110, 1);
    border: none;
}

.header .buttons button:last-child {
    border-radius: 5px;
    color: white;
    border: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 1;
    background: none;
    cursor: pointer;
    width: 141px;
    height: 48px;
}


/* Images */
.image-nav1,
.image-nav2 {
    position: absolute;
}

.image-nav1 {
    bottom: 160px;
    right: 3rem;
}

.image-nav2 {
    bottom: 0;
    right: 0;
}


/* centre-content */
.centre-par {
    margin-left: 5rem;
    margin-top: 118px;
    width: 800px;
}

.section-title {
    opacity: 1;
    color: rgba(32, 83, 209, 1);
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 145px;
}

.centre-content h1 {
    opacity: 1;
    color: rgba(38, 43, 54, 1);
    font-family: "Inter-Bold";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 50px;
}

.centre-content .features {
    margin: 0 5rem;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.features .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-par {
    width: 600px;
    height: 84px;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 324px;
    height: 226px;
}


/* Update section */
.update {
    position: relative;
    height: 1170px;
}

.update h3 {
    opacity: 1;
    color: rgba(32, 83, 209, 1);
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 120px;
    margin-top: 48px;
}

.update-par {
    opacity: 1;
    color: rgba(38, 43, 54, 1);
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 64px;
    width: 329px;
    margin-left: 120px;
}

.update img {
    margin-top: 62px;
    width: 650px;
    height: 676px;
    z-index: 1;
}

.update article {
    position: absolute;
    top: 0;
    right: 0;
    width: 760px;
    height: 1104px;
    background-image: url(./assets/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update article img {
    width: 424px;
    height: 158px;
}


/* Services section */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(236, 240, 247, 1) 100%);
}

.services-par {
    font-weight: 700;
    width: 759px;
    font-size: 42px;
    color: #262B36;
    margin-top: 16px;
}

.services-par2 {
    font-size: 16px;
    margin-top: 30px;
}

.services>img {
    margin-top: 84px;
    width: 673px;
}

.grid {
    margin-top: 128px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.grid-item {
    width: 360px;
    height: 96px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: default;
}

.grid-item img {
    margin-top: 0;
    width: 120px;
    height: 120px;
}

.grid-item p {
    font-size: 18px;
}

.quotes {
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: black;
    opacity: 40%;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
}

.arrow:hover {
    opacity: 50%;
}

.quote {
    margin: 0;
    padding: 0;
    width: 550px;
}

.points {
    display: flex;
    margin-bottom: 230px;
}

.point {
    border-radius: 50%;
    background-color: #606C84;
    width: 12px;
    height: 12px;
    margin-right: 20px;
}

.point:nth-child(2) {
    background-color: #1C57C9;
}

.point:last-child {
    margin-right: 0;
}


/* Contact section */
.contact {
    margin-top: 178px;
    display: flex;
    justify-content: space-evenly;
}

.contact h3 {
    opacity: 1;
    color: rgba(32, 83, 209, 1);
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
}

.contact-par {
    opacity: 1;
    color: rgba(38, 43, 54, 1);
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 64px;
    width: 329px;
    margin-top: 16px;
}

.contact>img {
    width: 412px;
    height: 362px;
    margin-top: 64px;
}

.contact>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact>div div {
    display: flex;
    flex-direction: column;
    width: 386px;
    margin-bottom: 16px;
}

.contact>div div label {
    margin-bottom: 12px;
}

.contact>div div input,
select,
textarea {
    height: 36px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #CCC;
    resize: vertical;
    font-size: 18px;
    transition: 300ms;
    padding: 2px 4px;
}

textarea {
    height: auto;
}

.contact>div div input:hover,
.contact>div div select:hover,
.contact>div div textarea:hover {
    border: 1px solid #888;
}

.contact>div div input:focus,
.contact>div div select:focus,
.contact>div div textarea:focus {
    border: 1px solid black;
}


/* Footer */
footer {
    margin-top: 300px;
}

footer section:first-child {
    margin-bottom: 96px;
    display: flex;
    justify-content: space-around;
}

footer section:first-child div {
    display: flex;
    flex-direction: column;
}

footer section:first-child div img {
    width: 157px;
}

footer section:first-child div article {
    margin-top: 33px;
}

footer section:first-child div article p:nth-child(5) {
    margin-bottom: 16px;
}

footer section:first-child div h4 {
    font-weight: 700;
    color: #262B36;
}

footer section:first-child div a {
    margin-top: 16px;
    color: #606B86;
    text-decoration: none;
}

footer section:nth-child(2) {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right {
    color: #262B36;
    font-size: 18px;
}